@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-wayne-yellow: #facc15;
  --color-wayne-graphite: #27272a;
  --font-space: "Space Grotesk", sans-serif;
  --font-inter: "Inter", sans-serif;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

* {
  cursor: none !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}