@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-wayne-yellow: #facc15;
  --color-wayne-graphite: #27272a;
  --font-space: var(--font-space), "Space Grotesk", sans-serif;
  --font-inter: var(--font-inter), "Inter", sans-serif;
  --font-oswald: var(--font-oswald), "Oswald", sans-serif;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --font-oswald: "Oswald", sans-serif;
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none !important;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}